/* Footer.css */

.footer {
  background-color: #ff385c;
  color: #0c0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 100;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  gap: 15px;
}

/* Individual link styling */
.footer-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #d6427f;
}

/* Right-side container for icons and copyright */
.footer-right {
  display: flex;
  flex-direction: column; /* Stack icons above copyright */
  align-items: flex-end; /* Align items to the right */
  gap: 5px; /* Small gap between icons and copyright text */
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-icon {
  font-size: 24px;
  color: #181818;
  transition: color 0.3s;
}

.footer-icon:hover {
  color: #d33979;
}

.footer-copyright {
  font-size: 14px;
  color: #ffffff;
}
